* {
    padding: 0px;
    margin: 0px;
    transition: 0.5 s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  body {
    background-color: black;
  }

  nav {
    position: absolute;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: white;
    height: 10vh;
    width: 100%;
    right: 11%;
  }
  
  .avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .logo {
    position: absolute;
    top: 30px;
    left: 25%;
  }

  .logo p {
    position: absolute;
    display: inline-flex;
    color: white;
    left: 45px;
    font-size: 2.3vh;
    text-shadow: 2px 2px #1a0fea;
  }
  
  .nav-button {
    background-color: transparent;
    border: 1px transparent;
    padding: 10px 16px;
    color: rgb(219, 219, 219);
    height: 40px;
    text-shadow: 0px 0px 10px rgb(61, 61, 61);
  }

  .active {
    background-color: transparent;
    border: 1px transparent;
    padding: 10px 16px;
    color: rgb(52, 99, 208);
    height: 40px;
  }

  .mnav-button {
    background-color: transparent;
    border: 1px;
    border-radius: 5px;
    padding: 10px 10px;
    width: 65vw;
    margin-bottom: 10px;
    color: rgb(219, 219, 219);
    box-shadow: 0px 0px 3px rgb(255, 255, 255);
  }

  .mnav-active {
    background-color: transparent;
    border: 1px;
    border-radius: 5px;
    padding: 10px 10px;
    width: 65vw;
    margin-bottom: 10px;
    color: rgb(52, 99, 208);
    box-shadow: 0px 0px 3px rgb(255, 255, 255);
  }

  .nav-button:hover {
    color: rgb(52, 99, 208);
    transition: 0.3s ease-in-out;
  }

  nav .links {
    position: absolute;
    display: inline-flex;
    left: 50%;
    top: 20px;
  }

  .links p {
    padding: 10px;
  }

  .social-icons {
    position: absolute;
    display: inline-block;
    top: 40px;
    left: 90%;
  }

  #mobile-menu-btn {
    display: none;
  }

  .mobile-menu {
    color: white;
    display: none;
    position: absolute;
    top: 85px;
    left: 6%;
    height: fit-content;
    width: 77%;
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 5px rgb(77, 77, 77);
    background-color: black;
  }
  
  @media (max-width: 900px) {

    body {
      overflow-x: hidden;
    }

    #mobile-menu-btn {
      position: absolute;
      display: block;
      left: 90%;
      top: 3vh;
    }

    .logo {
      display: flex;
    }

    nav {
        position: static;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        color: white;
        height: 8vh;
        width: 100%;
    }
    nav p {
      display: none;
    }

    .mobile-menu {
      display: none;
      flex-direction: column;
      align-items: center;
      border-radius: 5px;
      color: rgb(219, 219, 219);
      top: 10%;
      width: 90%; 
      left: 5%; 
    }

    .avatar {
      vertical-align: middle;
      width: 40px;
      height: 40px;
      border-radius: 35px;
    }

    .logo {
      position: absolute;
      top: 1.9vh;
      left: 7%;
    }

    .logo p {
      position: absolute;
      display: flex;
      top: 15%;
      left: 11vw;
    }

    nav .links {
      display: none;
    }

    .social-icons {
      display: none;
    }
  }
  
